<h1 class="text-center ">REGISTRAR PAGO</h1>
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4" class="font-weight-bold ">Nombres</label>
            <input type="text" class="form-control" id="nombres" placeholder="Nombres">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4" class="font-weight-bold ">Apellidos</label>
            <input type="text" class="form-control" id="apellidos" placeholder="Apellidos">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4" class="font-weight-bold ">N° DNI</label>
            <input type="number" class="form-control" id="dni" placeholder="DNI">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4" class="font-weight-bold ">Monto S/.</label>
            <input type="text" class="form-control" id="monto" placeholder="monto">
        </div>
    </div>

<div class="text-center">
    <button type="submit" class="btn btn-primary">Guardar</button>
</div>
</form>
<form>
    <!--
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
      </div>
    </div>--->

</form>