<h1>Historial de Reserva de Citas</h1>
<table class="offset-1 table table-hover mt-4">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Estado</th>
      <th scope="col">Medico</th>
      <th scope="col">Especialidad</th>
      <th scope="col">Fecha</th>
      <th scope="col">Dia</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let cita of citas'>
      <th scope="row">{{cita.idCita}}</th>
      <td>{{cita.estado}}</td>
      <td>{{cita.medico_id.nombres}} {{cita.medico_id.apellidoPaterno}}</td>
      <td>{{cita.medico_id.especialidad_id.nombre}}</td>
      <td>{{cita.fecha}}</td>
      <td>{{cita.medico_id.horario_id.dia}}</td>
    </tr>
   
  </tbody>
</table>
