<h1 class="text-center ">REGISTRAR PAGO</h1>
<form>
    
    <div class="form-row ">
        <div class="form-group col-md-2">
            <!---
            <label for="inputEmail4" class="font-weight-bold ">Nombres</label>
            <input type="text" class="form-control" id="nombres" placeholder="Nombres">-->
        </div>
        <div class="form-group col-md-8 ">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nombres</span>
                </div>
                <input type="text" class="form-control" placeholder="Nombres" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="form-group col-md-2">
             <!--
            <label for="inputPassword4" class="font-weight-bold ">Apellidos</label>
            <input type="text" class="form-control" id="apellidos" placeholder="Apellidos"> -->
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
        </div>
        <div class="form-group col-md-8">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Apellidos</span>
                </div>
                <input type="text" class="form-control" placeholder="Apellidos" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
        </div>
        <div class="form-group col-md-8">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">N° DNI</span>
                </div>
                <input type="number" class="form-control" placeholder="DNI" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
        </div>
        <div class="form-group col-md-8">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Monto S/.</span>
                </div>
                <input type="number" class="form-control" placeholder="Monto" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>