<h1 class="text-center ">REGISTRAR PAGO</h1>
<form>
    
    <div class="form-row ">

        <div class="form-group col-md-8 ">
            <div class="input-group mb-2">
                <input type="text" class="form-control" placeholder="Número de Tarjeta" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-8">
            <div class="input-group mb-2">
                <input type="text" class="form-control" placeholder="MM / AA" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-8">
            <div class="input-group mb-2">
                <input type="number" class="form-control" placeholder="CVV" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-8">
            <div class="input-group mb-2">
                <input type="number" class="form-control" placeholder="Nombres" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-8">
            <div class="input-group mb-2">
                <input type="number" class="form-control" placeholder="Apellido" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-8">
            <div class="input-group mb-2">
                <input type="number" class="form-control" placeholder="Correo electrónico" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>





<div class="modal" id="ventanaModal" tabindex="-1" role="dialog">
    <div class="modal-body">
        <div class="container-fluid">
          
            <div class="form-row ">

                <div class="form-group col-md-8 ">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" placeholder="Número de Tarjeta" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
        
            <div class="form-row">
                <div class="form-group col-md-8">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" placeholder="MM / AA" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="form-group col-md-2">
                </div>
            </div>
        
            <div class="form-row">
                <div class="form-group col-md-8">
                    <div class="input-group mb-2">
                        <input type="number" class="form-control" placeholder="CVV" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="form-group col-md-2">
                </div>
            </div>
        
            <div class="form-row">
                <div class="form-group col-md-8">
                    <div class="input-group mb-2">
                        <input type="number" class="form-control" placeholder="Nombres" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="form-group col-md-2">
                </div>
            </div>
        
            <div class="form-row">
                <div class="form-group col-md-8">
                    <div class="input-group mb-2">
                        <input type="number" class="form-control" placeholder="Apellido" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="form-group col-md-2">
                </div>
            </div>
        
            <div class="form-row">
                <div class="form-group col-md-8">
                    <div class="input-group mb-2">
                        <input type="number" class="form-control" placeholder="Correo electrónico" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="form-group col-md-2">
                </div>
            </div>

        </div>
      </div>
    </div> 