<h1 class="text-center mt-5">CITAS MEDICAS</h1>
  <div class="row ml-3">
    
    <form class="col-3">
        <div class="form-group col">
          <label for="inputEmail4">Especialidad</label>
          <select class="custom-select">
            <option value="1">Traumatologia</option>
            <option value="2">Cardiologia</option>
            <option value="3">Oftalmologia</option>
          </select>
        </div>
        <div class="form-group col">
          <label for="inputEmail24">Medico</label>
          <select class="custom-select">
            <option value="1">Fabricio Padroa Castro</option>
            <option value="2">Nataly Vazquez Gutierrez</option>
            <option value="3">Adriana Gama Saenz</option>
          </select>
        </div>
        <div class="form-group col">
          <label for="inputEmail24">Fecha Cita</label>
          <input type="date" class="form-control" id="inputEmail24">
        </div>
        <button type="submit" class="btn btn-primary ml-3 mt-3">Recervar Cita</button>
        
    </form>
    <div class="col-8">
      <table class="offset-1 table table-hover mt-4">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Dia</th>
            <th scope="col">Hora Inicio</th>
            <th scope="col">Hora Fin</th>
            <th scope="col">Consultorio</th>
            <th scope="col">Piso</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>4</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@mdo</td>
            <td>3</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>2</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>

