<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4" *ngFor='let especialidad of especialidades'>
    <div class="card">
      <img [src]="especialidad.imageURL" class="card-img-top" alt="..." height="260px">
      <div class="card-body">
        <h5 class="card-title">{{especialidad.nombre}}</h5>
        <p class="card-text">{{especialidad.descripcion}}.</p>
        <button class="btn btn primary" ng-click="verDoctores(especialidad.idEspecialidad)">Ver mas</button>
      </div>
    </div>
  </div>
  
</div>